[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci --include=dev"]

[phases.build]
cmds = [
  "npm run build",
  "npm rebuild sharp"
]

[start]
cmd = "HOSTNAME=0.0.0.0 node .next/standalone/server.js"
